// app global css in SCSS form

.add-transaction {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

@media (max-height: 667px) {
    .screen-size {
        max-height: 34vh;
    }
};

@media (min-height: 736px) {
    .screen-size {
        max-height: 40vh;
    }
};

@media (min-height: 813px) {
    .screen-size {
        max-height: 45vh;
    }
};

@media (min-height: 896px) {
    .screen-size {
        max-height: 49vh;
    }
};

@media (min-height: 914px) {
    .screen-size {
        max-height: 56vh;
    }
};