/* General settings */

:root {
  --main-color: #F1D00A;
  --accent-color: #21325E;
  --grey-color: #F0F0F0;
  /* Text color */
  --text-color: #000;
  --text-white-color: #fff;
  --main-title-size: 1.5rem;
  --text-size: 1rem;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--main-color);
  color: var(--accent-color);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}